<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Activity Graph</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<textarea id="activityText">
select {
  A;
  parallel {
    B;
    C;
  }
  select {
    D;
    E;
  }
  repeat(2) {
    F;
    G;
  }
}
</textarea>
<br>
<button id="showBtn">Show</button>
<div id="info">Click a node to see info</div>
<canvas id="canvas" width="1000" height="800"></canvas>

<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
</body>
</html>
